//
// Hero unit
// --------------------------------------------------

.life-box{
    position: relative;
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    margin: 0 1px 1px 0;
    background: #ffffff;

    &.dead{
    	background: #cccccc;
    }
}