//
// Layouts
// --------------------------------------------------
.wrapper {
	margin: 50px;
}

.box-life-wrapper {
	background: #c1c1c1;
	overflow: hidden;
} 

// Container (centered, fixed-width layouts)
.container {
  .container-fixed();
}

// Fluid layouts (left aligned, with sidebar, min- & max-width content)
.container-fluid {
  padding-right: @gridGutterWidth;
  padding-left: @gridGutterWidth;
  .clearfix();
}